* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d4b693;
}

/*Navbar styling*/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #065535;
}

.nav-links {
  display: flex;
  list-style: none;
  text-align: center;
}

ul li {
  padding: 15px 0 15px 0;
}

a {
  display: block;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul li:hover {
  background-color: #066c43;
}

ul li:active {
  background-color: #05452b;
}

a:active {
  position: relative;
  top: 2px;
}

/*Main section - animation styling*/

main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.home-container {
  padding: 100px 0 100px 0;
}

h1 {
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 75px;
}

.animations-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.polaroid-container {
  margin: 0 auto;
}

img {
  max-width: 400px;
  width: 100%;
  height: 265px;
}
