* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(0, 0, 203);
}

.nav-links {
  display: flex;
  list-style: none;
  text-align: center;
}

ul li {
  padding: 15px 0 15px 0;
}

a {
  display: block;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul li:hover {
  background-color: blue;
}

ul li:active {
  background-color: rgb(0, 0, 174);
}

a:active {
  position: relative;
  top: 2px;
}
