* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d4b693;
  color: #2c2c2c;
}

/*Navbar styling*/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #2c2c2c;
}

.nav-links {
  display: flex;
  list-style: none;
  text-align: center;
}

ul li {
  padding: 15px 0 15px 0;
}

a {
  display: block;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul li:hover {
  background-color: #3b3b3b;
}

ul li:active {
  background-color: #000;
}

a:active {
  position: relative;
  top: 2px;
}

/*Main section - animation styling*/

main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
}

.home-container {
  padding: 100px 0 100px 0;
}

h1 {
  text-align: center;
  margin: 0 auto 75px auto;
  font-size: 48px;
  padding: 15px;
  max-width: 400px;
  width: 100%;
  letter-spacing: 10px;
}

.header-text {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.animations-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@keyframes swing {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.polaroid-container {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px 15px 40px 15px;
  transform-origin: top left;
  animation: swing 1.2s ease-in-out infinite;
}

.dot {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

img {
  width: 400px;
  height: 265px;
}

.img-text {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}
